body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 2rem;
}
.cv, .cv-page, .cv-page-inner{
    width:100%;
}

.h-resume {
    width:100%;
}

.cv {
    width:100%;
}
.cv-timeline-company{
    background-color: rgb(233,233,233);
    text-transform: uppercase;
}